.navbar-inverse {
  background-color: rgba(32, 35, 41,0.2);
  font-family:'Calligraffitti', cursive;
}
 .jumbotron {
 	padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('sky.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.jumbotron h1 {
  font-family:'Calligraffitti', cursive;
  color: black;
  margin-bottom: 1em;
}
blockquote {
  border-left: 0;
}
#buzz {
  font-family:'Calligraffitti', cursive;
  color: white;
  background: linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.5));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.5));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.6), (0,0,0,0.5));}
#mission {
  font-family:'Calligraffitti', cursive;
  color:white;
	background: linear-gradient(bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.6));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.6));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9), (0,0,0,0.6));}
  padding-bottom: 40px;
}
h2 { color: white;}

#social-buttons button {
  color: white;
}
.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
}
