.navbar-inverse {
  background-color: rgba(32, 35, 41,0.8);
}
 .jumbotron {
 	padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('sky.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.jumbotron h1 {
  font-family:'Calligraffitti', cursive;
  color: black;
  margin-bottom: 1em;
}
blockquote {
  border-left: 0;
}
#buzz {
  background: linear-gradient(bottom, rgba(191,37,185,.5), rgba(191,37,185,.1));
  background: -webkit-linear-gradient(bottom, rgba(191,37,185,.5), rgba(191,37,185,.1));
  background: -moz-linear-gradient(bottom, rgba(191,37,185,.5), (191,37,185,.1));}
#mission {
	background: linear-gradient(bottom, rgba(191,37,185,.6), rgba(191,37,185,.5));
  background: -webkit-linear-gradient(bottom, rgba(191,37,185,.6), rgba(191,37,185,.5));
  background: -moz-linear-gradient(bottom, rgba(191,37,185,.6), (191,37,185,.5));}
  padding-bottom: 40px;
}

#social-buttons button {
  color: white;
}
.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
}
